$font-family-base: "Roboto", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.25;
$font-weight-base: 400;

%font-default {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
}