:host {
    text-align: center;
}

.button {
    border: 2px solid gray;
    padding: 0;
    text-indent: -9000%;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: clamp(.5rem, 3vmin, 2rem);
    aspect-ratio: 1;
    overflow: hidden;
}