.button {
    border: 2px solid gray;
    padding: 2rem;
    max-width: 16rem;
    min-height: 16rem;
    box-sizing: border-box;
    border-radius: clamp(0.5rem, 4vmin, 8rem);
    font-size: clamp(.5rem, 3vmin, 2rem);
}