@import "variables";
@import "mixins";

:host {
  @include default-font;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  width: 50%;
  padding: 0;
}

.button {
  aspect-ratio: 1 / 1;
  font-size: clamp(1rem, 16vmin, 6rem);
  border-radius: clamp(0.5rem, 5vmin, 4rem);
  // height: 100%;
  width: 100%;
  background-color: $ink-subtle;
  border: none;
  color: var(--surface-base);
}
