<div class="bout" *ngIf="boutAction$ | async as bout">
  <div class="bout-options">
    <div class="app-weapon-select" [updateWeapon]="changeWeapon" [currentWeapon]="bout.weapon"></div>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWHenActive="page">Main Menu</a>
  </div>
  <div class="fencers">
    <app-fencer param="Fencer Test" [initialFencer]="bout.fencers[0]" [incrementScore]="incrementScore"></app-fencer>
    <div class="app-double-touch" *ngIf="bout.weapon === 'epee'" [doubleTouch]="doubleTouch"></div>
    <app-fencer param="Fencer Test" [initialFencer]="bout.fencers[1]" [incrementScore]="incrementScore"></app-fencer>
  </div>
  <button *ngIf="bout.weapon !== 'saber'" class="button timer" [ngClass]="bout.status" (click)="toggleStatus(bout)">
    {{bout.timeLeft}}
  </button>
</div>
