<ng-container *ngIf="boutAction$ | async as bout">
  <div class="bout-options" *ngIf="boutOptionsOpen">
    <div class="app-weapon-select" [updateWeapon]="changeWeapon" [currentWeapon]="bout.weapon"></div>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWHenActive="page">Main Menu</a>
  </div>
  <div class="app-fencer-names" [fencerNames]="fencerNames$ | async"></div>
  <div class="app-period-display" [period$]="period$"></div>
  <button (click)="updatePeriod()">Update Period</button>
  <div class="fencers">
    <app-fencer [initialFencer]="bout.fencers[0]" [incrementScore]="incrementScore"></app-fencer>
    <div class="app-double-touch" *ngIf="bout.weapon === 'epee'" [doubleTouch]="doubleTouch"></div>
    <app-fencer [initialFencer]="bout.fencers[1]" [incrementScore]="incrementScore"></app-fencer>
  </div>
  <div class="app-timer timer" *ngIf="bout.weapon !== 'saber'" [currentStatus]="bout.status" [currentTime]="this.convertTime(bout.timeLeft)" [toggleStatus]="toggleStatus"></div>
</ng-container>
