.bout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}

.button {
  border: none;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  background: blue;
  color: white;
  border-radius: clamp(0.5rem, 4vmin, 8rem);
  font-size: clamp(1rem, 10vmin, 4rem);
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 1;
}
.button.active {
  background-color: green;
}

.fencers {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
}

.fencers > * {
  flex-basis: 50%;
  flex-shrink: 1;
}
