@import "variables";
@import "mixins";
@import "typography";

:root {
  // Colors
  --color-surface-base: #{$color-surface-base};
  --color-surface-strong: #{$color-surface-strong};
  
  --color-ink-base: #{$color-ink-base};
  --color-ink-subtle: #{$color-ink-subtle};
  
  --color-action-base: #{$color-action-base};
  
  --color-accent-base: #{$color-accent-base};
  --color-accent-strong: #{$color-accent-strong};

  // Spacing
  --spacing-xx-large: #{$spacing-xx-large};
  --spacing-x-large: #{$spacing-x-large};
  --spacing-large: #{$spacing-large};
  --spacing-default: #{$spacing-default};
  --spacing-small: #{$spacing-small};
  --spacing-x-small: #{$spacing-x-small};
  --spacing-xx-small: #{$spacing-xx-small};
}

html,
body,
.app-root {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--surface-base);
    color: var(--ink-base);
    @extend %font-default;
}