@import "variables";
@import "mixins";
@import "typography";

:root {
  // Colors
  --surface-base: #{$surface-base};
  --ink-base: #{$ink-base};

  // Spacing
  --spacing-default: #{$spacing-default};
  --spacing-small: #{$spacing-small};
}

html,
body,
.app-root {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--surface-base);
    color: var(--ink-base);
    @extend %font-default;
}